* {
    padding: 10px;
    margin: 0px;
}

img {
    width: 300px;
}

h1 {
    color: brown;
}

.contenido {
    color: crimson;
}

.titulo_principal {
    color: darkblue;
}

a {
    display: inline-block;
    width: 200px;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;;
}

a:hover {
    background-color: black;
    color: white;
}

div > p {
    color:blue
}

h1 + p {font-style: italic;}

.posicionamiento {
    display: block;
    position: relative;
    top:20px;
    left: 20px;
    border: 1px solid gray;
    background-color: gray;
}

.desbordamiento {
    display: block;
    border: 1px solid gray;
    width: 300px;
    height: 70px;
    overflow: hidden;
}