input[type="text"] {
    border: 1px solid gray;
}

.caja1 {
    position: absolute;
    width: 1000px;
    z-index: 10;
    background-color: aliceblue;
}
.caja2 {
    position: absolute;
    width: 1000px;
    z-index: 2;
    background-color: aliceblue;
}