* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-areas: 
        ""
    grid-gap: 5px;
}

.item {
    background: lightgreen;
    padding: 20px;
    border: 1px solid lightgray;
}